<html>
  <head>
    <title>Hype Wall!</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/frontend_libs/jquery.min.js"></script>
    <script src="/frontend_libs/handlebars-v2.0.0.js"></script>
    <script src="/template/core.js"></script>
    <link rel="stylesheet" type="text/css" href="/template/style.css">
  </head>

  <body>
    <ul id="tweets">
    </ul>

    <script id="tweet-template" type="text/x-handlebars-template">
      <li>
        <img src="{{user.profile_image_url}}">
        <h2>{{user.name}}</h2>
        <p>{{text}}</p>
      </li>
    </script>
  </body>
</html>

